$main-color: #051e34;
$navbar-color: #fffc;
$navbar-selected: #47628233;
$navbar-selected-text-color: #669df6;
$hovered-button: #1a73e8;
$hovered-text-button: #1b3a57;
$button-color: #1967D2;
$user-color: #476282;