$body-color-default: #000000de;
$body-color-dark: #d8d4cf;
$body-font-size: 18px;
$tooltip-background: #000000cc;

$navbar-text-color: #fffc;
$navbar-selected: #47628233;
$navbar-selected-text-color: #669df6;
$plus-color: #2296da;

$views-transition: 250ms;
$subject-peek-duration: 150ms;
$subject-peek-delay: 150ms;

$soft-green: #2ab62a;
$soft-red: #ff3924;

$navbar-max-width: 350px;

$themes: (
  default: (
    body-color: $body-color-default,
    white-background: #fff,
    text-disappearing: #fff,
    light-gray: #78909c,
    alice-blue: aliceblue,
    alice-blue-light: #e3eaf1,
    strong-blue: #1967d2,
    light-blue: #dfebf5,
    dark-blue: #1b3a57,
    dark-dark-blue: #051e34,
    gray-blue: #476282,
    light-border-color: #c3cfdd,
    light-light-border-color: #eeeeee,
    card-shadow: (
      0 1px 2px 0 rgb(60 64 67 / 30%),
      0 1px 3px 1px rgb(60 64 67 / 15%),
    ),
    gray-shadow: 0 0 5px #cacccc,
  ),
  dark: (
    body-color: $body-color-dark,
    white-background: #181a1b,
    text-disappearing: #0D0D0D,
    light-gray: #9e9689,
    alice-blue: #1b1b1b,
    alice-blue-light: #2e2e2e,
    strong-blue: #53a2eb,
    light-blue: #dfebf51c,
    dark-blue: #a4c7e3,
    dark-dark-blue: #031322,
    gray-blue: #90abc2,
    light-border-color: #2f4053,
    light-light-border-color: rgb(44 44 44 / 55%),
    card-shadow: (
      rgb(43 46 48) 0px 1px 2px 0px,
      rgb(43 46 48) 0px 1px 3px 1px,
    ),
    gray-shadow: 0 0 5px #454545,
  ),
);

@mixin themed() {
  @each $theme, $map in $themes {
    .theme--#{$theme} & {
      $theme-map: () !global;

      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }

      @content;
      $theme-map: null !global;
    }
  }
}

@function t($key) {
  @return map-get($theme-map, $key);
}
