$body-color-default: #000000de;
$body-color-dark: #d8d4cf;
$ed-color: #6d6e71;
$plus-color: #2296da;
$card-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%),
0 1px 3px 1px rgb(60 64 67 / 15%);
$original-page-width: 954px;

@font-face {
  font-family: OpenSans;
  src: url("~@/assets/font/OpenSans-Regular.ttf");
}

* {
  font-family: OpenSans, Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
}

html {
  height: 100vh;
  overflow: hidden;
  font-size: 18px;
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

body {
  height: 100%;
  background-image: url("~@/assets/img/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0;
  color: $body-color-default;
  overflow: auto;
}

a {
  text-decoration: none;
  color: inherit;
  border: 1px solid transparent;

  &.card:active {
    border: 1px solid $plus-color;
  }
}

h2,
h3 {
  color: $ed-color;
}

.card {
  border-radius: 8px;
  box-shadow: $card-shadow;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ed {
  font-weight: bold;
  color: $ed-color;
}

.plus {
  color: $plus-color;
}

.content-card {
  width: $original-page-width;
  margin: 0 auto;
  padding: 20px 40px 40px;
  background: white;
}

/* transitions */

.opacity-enter-active,
.opacity-leave-active {
  transition: opacity 250ms;
}

.opacity-enter-from,
.opacity-leave-to {
  opacity: 0;
}